local/*
.vscode/*
temp/*
sdk/.env
contracts/dependencies/*/build
contracts/dependencies/*/Move.lock

contracts/*/build/*

.DS_Store
target
**/*.rs.bk
node_modules
grcov.log
.env
package-lock.json
yarn.lock
sui/*
dist/*
